/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.heading{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}
.imw{
    width: 65%;
    position: relative;
}
.product{
    margin-top: 30px;
    margin-bottom: 30px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 9;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
  }
  
  .ccc:hover .overlay {
    opacity: 0.7;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .cc1{
    width: 82%;
    background: #fff;
    color: #000;
    padding: 4px 8px;
    border: 1px solid #000;
    height: 40px;
    border-radius: 7px;
  }
  @media only screen and (max-width: 553px) {
    .card{
        margin-top: 25px;
    }
  }
  .card{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
  }